.list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  margin-bottom: 40px;
}
.svgCategory {
  color: rgb(255, 255, 255);
  font-size: 35px;
}
h4 {
  color: #fff;
  font-size: 13px;
  padding-top: 5px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 4px solid #fff;
}
